<% provide(:title, "Help") %>


<h1>Help</h1>
<p>
Get help on the Ruby on Rails Tutorual at the
<a href="///">Rails Tutorial help section</a>
To get help, see the
<a href="///"><em>Ruby on Rails Tutorial</em>
book</a>.
</p>

